body {
    font-family: Arial, sans-serif;
}

/* Font */
@font-face {
    font-family: 'Onstage';
    src: url('../fonts/Onstage.ttf') format('truetype');
}

/* Header */
.menu-header {
    background-image: url("../images/menu-banner.png");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    background-color: #ff1100;    
    min-height: 300px;
    padding: 70px 0;
    display: flex;
    align-items: center;
}


.menu-header h1 {
    font-family: 'Onstage';
    font-size: 3rem;
    color: #99220B;
}

/* Menu Section */
.menu-section .container h5 {
    font-family: 'Onstage';
    font-size: rrem;
    font-weight: 600;
    color: #99220B;
    text-align: center;
}

/* Menu Cards */
.menu-card {
    text-align: center;
}

.menu-card h5 {
    font-family: 'Onstage';
    margin-top: 10px;
    font-weight: 600;
    color: #99220B;
}

.menu-card p {
    color: #555;
}

.menu-card h5 {
    transition: color 0.3s ease;
}

.menu-card:hover h5 {
    color: #ff1100;
}

/* Images */
.menu-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.menu-img:hover {
    transform: scale(1.05);
}

/* Zoom Image */
.zoom-img {
    max-height: 80vh;
}

/* Media Query - Repsonsiveness */
@media (max-width: 576px) {
    .menu-img {
        height: 220px;
    }

    .menu-header h1 {
        font-family: 'Onstage';
        font-size: 2rem;
    }
}

@media (max-width: 992px) {
    .menu-header {
        aspect-ratio: 16 / 7;
        background-color: transparent;
    }
}

@media (max-width: 576px) {
    .menu-header {
        background-size: contain;
        background-position: center;
        background-color: transparent;
        min-height: 150px;
        padding: 0%;
    }
}


/* @media (max-width: 992px) {
    .menu-header {
        background-size: cover;      fill space better 
        background-position: center;
        background-color: transparent;
        min-height: 260px;
    }
}

/* MOBILE 
@media (max-width: 576px) {
    .menu-header {
        background-size: cover;
        background-position: center;
        background-color: transparent;
        min-height: 200px;
    }
} */

/* @media (max-width: 576px) {
    .menu-header {
        background-size: cover;      fill the header 
        background-position: center
        background-color: transparent; remove red background 
        min-height: 220px;            optional: smaller height 
        padding: 0;                   optional: tighter look 
    }
} */
